/****** Variables ***********/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #F6F6F6;
$background-color-location: #EAEAEA;

$button-gradient: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);

/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
}

body {
    margin: 0;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.flex-center {
    display: flex;
    align-items: center;
}

/****** Header ***********/
.header {
    flex-direction: column;

    &__title {
        display: none;
        font-family: 'Shrikhand', cursive;
        font-size: 30px;
        font-weight: 400;
    }

    &__logo {
        width: 197px;
        height: 36px;
        padding: 14px 89px 13px 89px; 
    }

    &__location {
        background: $background-color-location;
        align-self: stretch;
        justify-content: center;
        gap: 17px;
        color: #353535;
        height: 50px;

        &__city {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

/****** Explore ***********/

.explore {
    flex-direction: column;
    text-align: center;
    background: $background-color;

    &__title {
        margin-top: 39px;
        width: 275px;
        height: 68px;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        color: #353535;
        margin: 0;
        width: 315px;
        height: 46px;
    }

    &__button {
        justify-content: center;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        border: none;
        background: $button-gradient;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); 
        color: white;
        font-size: 16px;
        font-weight: 500;
        margin: 27px 0 57px 0;
    }
}