//style.scss

@use 'partials/header-footer';

/****** Variables ***********/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #F6F6F6;
$background-color-explore: #EAEAEA;

$button-gradient: linear-gradient(175deg, $primary-color 0%, $secondary-color 100%);

//same variables as _header-footer.scss files
$desktop-breakpoint: 1024px;
$grey: #353535;

/****** Mixin ***********/
@mixin box-shadow ($blur-radius, $color-alpha) {
    box-shadow: 0px 4px $blur-radius 0px rgba(0, 0, 0, $color-alpha);
}

/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 16px;
    margin: 0;
}

body {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
}

.flex-center {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}
/****** Location ***********/
.location {
    background: $background-color-explore;
    justify-content: center;
    gap: 17px;
    color: $grey;
    height: 50px;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, .1);

    &__city {
        font-weight: 500;
    }
}

/****** Explore ***********/
.explore {
    flex-direction: column;
    text-align: center;
    background: $background-color;

    &__title {
        margin-top: 39px;
        width: 275px;
        height: 68px;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        color: $grey;
        width: 315px;
        height: 46px;
    }

    &__button {
        @include box-shadow(10px, 0.25);
        justify-content: center;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        border: none;
        background: $button-gradient;
        color: white;
        font-weight: 500;
        margin: 27px 0 57px 0;
        transition: all 300ms ease-out;

        &:hover {
            @include box-shadow(15px, 0.35);
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
        }
    }
}

/****** Fonctionnement ***********/

.functioning {
   display: flex;
   flex-direction: column;
   padding: 48px 20px 68px 32.51px;
   gap: 26px;

    @media (min-width: $desktop-breakpoint) {
        padding-left: 180px;
        padding-right: 180px;
    }

    &__title {
        width: 275px;
        height: 31px;

        @media (min-width: $desktop-breakpoint) {
            margin-left: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24.92px;

        @media (min-width: $desktop-breakpoint) {
            flex-direction: row;
            justify-content: space-between;
            gap: 36.51px;
        }

        &__button {
            @include box-shadow(15px, 0.15);
            justify-content: center;
            width: 100%;
            height: 72.379px;
            border: none;
            border-radius: 20px;
            background: $background-color;
            font-weight: 500;
            position: relative;

            @media (min-width: $desktop-breakpoint) {
                padding-left: 32px;
            }

            &__circle {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                border-radius: 24px;
                color: white;
                font-size: 14.182px;
                font-weight: 500;
                background: $primary-color;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
            }

            &__name {
                width: 211px;
                height: 15.67px;
            }

            .fa-solid {
                line-height: normal;
            }

            .fa-mobile-screen {
                width: 13.019px;
                height: 19.903px; 
                color: #7E7E7E;
            }

            .fa-list-ul {
                width: 16px;
                height: 15.922px; 
                color: #7E7E7E;
            }

            .fa-store {
                width: 18px;
                height: 17.913px; 
                color: $primary-color;
            }
        }
    }
}

/****** Restaurants ***********/
/*Cards*/
.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 251px;
    background-color: white;
    border-radius: 15px;
    @include box-shadow(15px, 0.10);
    position: relative;

    & > img {
        height: 67%;
        display: flex;
        border-radius: 15px 15px 0px 0px; 
        align-self: stretch;
        object-fit: cover;
    }

    &__new {
        position: absolute;
        justify-content: center;
        background: $tertiary-color;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        width: 80px;
        height: 29px;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 500;
        color: #008766;
        right: 5%;
        top: 5%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 33%;
        margin-left: 13px;
        position: relative;

        &__icon {
            position: absolute;
            right: 5%;
            top: 37%;
            width: 22px;
            height: 21px;
            font-size: 22px;
        }

        &__title {
            display: flex;
            font-size: 18px;
            font-weight: 700;
        }

        &__subtitle {
            display: flex;
            font-size: 17px;
            font-weight: 300;
        }
    }
}

/*******/
.restaurants {
    display: flex;
    flex-direction: column;
    padding: 54px 18px 66px 17px;
    gap: 20px;
    background: $background-color;

    @media (min-width: $desktop-breakpoint) {
        padding-left: 180px;
        padding-right: 180px;
    }

    &__cards {
        display: grid;
        gap: 18px;

        @media (min-width: $desktop-breakpoint) {
            gap: 50px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 18px;

        @media (min-width: $desktop-breakpoint) {
            flex-direction: row;
            gap: 100px;
        }
    }

    a {
        display: flex;
        color: black;
        width: 100%;
    }
}