/****** Variables ***********/
/****** Mixin **************/
/****** Header ***********/
.header {
  justify-content: center;
}
.header__title {
  display: none;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  line-height: normal;
}
.header__logo {
  width: 197px;
  height: 36px;
  padding: 14px 89px 13px 89px;
}

/****** Footer ***********/
.footer {
  background: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
}
.footer__link {
  display: flex;
  flex-direction: column;
  align-self: self-start;
  gap: 7px;
  list-style-type: none;
  padding: 0;
}
@media (min-width: 1024px) {
  .footer__link {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-self: flex-end;
  }
}
.footer__link--wider {
  width: 190px;
  height: 19px;
  font-weight: 500;
  margin-left: 10px;
}
.footer__link--normal {
  width: 130px;
  height: 20px;
  font-weight: 400;
}
.footer__link a {
  color: white;
}
.footer__link .fa-solid {
  width: 12px;
  height: 13px;
}
.footer__link li {
  display: flex;
}
.footer__link li i {
  margin-right: 15px;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  width: 139px;
  height: 27px;
  padding-right: 1.42px;
}

/****** Variables ***********/
/****** Mixin ***********/
/****** Keyframes ***********/
@keyframes loader {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes animation-loader {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  25% {
    transform: translateY(0) scale(1.05);
  }
  50% {
    transform: translateY(-40px) scale(1.2);
  }
  65% {
    transform: translateY(0) scale(1.1);
  }
  75% {
    transform: translateY(0) scale(1.05);
  }
}
@keyframes animation-tuto {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  margin: 0;
}

body {
  min-width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
}

.flex-center {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

/****** Loader ***********/
.loader {
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-width: 350px;
  width: 100%;
  height: 100%;
  top: 0;
  background: white;
  z-index: 10;
  animation: loader 0.1s both;
  animation-delay: 3s;
}
.loader .animation-o,
.loader .animation-h,
.loader .animation-m,
.loader .animation-y,
.loader .animation-f,
.loader .animation-o1,
.loader .animation-o2,
.loader .animation-d,
.loader .animation-mark {
  display: flex;
  font-size: 50px;
  font-family: "Shrikhand", cursive;
  font-weight: bold;
}
.loader .animation-o {
  animation: animation-loader 1.5s 100ms 2;
}
.loader .animation-h {
  animation: animation-loader 1.5s 200ms 2;
}
.loader .animation-m {
  animation: animation-loader 1.5s 300ms 2;
}
.loader .animation-y {
  animation: animation-loader 1.5s 400ms 2;
}
.loader .animation-f {
  animation: animation-loader 1.5s 500ms 2;
}
.loader .animation-o1 {
  animation: animation-loader 1.5s 600ms 2;
}
.loader .animation-o2 {
  animation: animation-loader 1.5s 700ms 2;
}
.loader .animation-d {
  animation: animation-loader 1.5s 800ms 2;
}
.loader .animation-mark {
  animation: animation-loader 1.5s 900ms 2;
}

/****** Location ***********/
.location {
  background: #EAEAEA;
  justify-content: center;
  gap: 17px;
  color: #353535;
  height: 50px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1024px) {
  .location {
    box-shadow: none;
  }
}
.location__city {
  font-weight: 500;
}

/****** Explore ***********/
.explore {
  flex-direction: column;
  text-align: center;
  background: #F6F6F6;
}
.explore__title {
  margin-top: 39px;
  width: 275px;
  height: 68px;
}
.explore__subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  width: 315px;
  height: 46px;
}
.explore__button {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  font-weight: 500;
  margin: 27px 0 57px 0;
  transition: all 300ms ease-out;
}
.explore__button:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
}

/****** Fonctionnement ***********/
.animation-btn-choose {
  animation: animation-tuto 2s 4s both;
}

.animation-btn-menu {
  animation: animation-tuto 2s 6s both;
}

.animation-btn-eat {
  animation: animation-tuto 2s 8s both;
}

.functioning {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px 32.51px;
  gap: 26px;
}
@media (min-width: 1024px) {
  .functioning {
    padding-left: 180px;
    padding-right: 180px;
  }
}
.functioning__title {
  width: 275px;
  height: 31px;
}
@media (min-width: 1024px) {
  .functioning__title {
    margin-left: 0;
  }
}
.functioning__list {
  display: flex;
  flex-direction: column;
  gap: 24.92px;
}
@media (min-width: 1024px) {
  .functioning__list {
    flex-direction: row;
    justify-content: space-between;
    gap: 36.51px;
  }
}
.functioning__list__button {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 72.379px;
  border: none;
  border-radius: 20px;
  background: #F6F6F6;
  font-weight: 500;
  position: relative;
}
@media (min-width: 1024px) {
  .functioning__list__button {
    padding-left: 32px;
  }
}
.functioning__list__button__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  color: white;
  font-size: 14.182px;
  font-weight: 500;
  background: #9356DC;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
}
.functioning__list__button__name {
  width: 211px;
  height: 15.67px;
}
.functioning__list__button .fa-solid {
  line-height: normal;
}
.functioning__list__button .fa-mobile-screen {
  width: 13.019px;
  height: 19.903px;
  color: #7E7E7E;
}
.functioning__list__button .fa-list-ul {
  width: 16px;
  height: 15.922px;
  color: #7E7E7E;
}
.functioning__list__button .fa-store {
  width: 18px;
  height: 17.913px;
  color: #9356DC;
}

/****** Restaurants ***********/
/*Cards General*/
.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 250ms ease;
}
.cards:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  .cards {
    box-shadow: none;
  }
}
.cards > img {
  height: 67%;
  display: flex;
  border-radius: 15px 15px 0px 0px;
  align-self: stretch;
  object-fit: cover;
}
.cards__new {
  position: absolute;
  justify-content: center;
  background: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  width: 80px;
  height: 29px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  right: 5%;
  top: 5%;
}
.cards__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 33%;
  margin-left: 13px;
  position: relative;
}
.cards__content__like {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 24px;
  height: 24px;
  top: -38%;
  right: 7%;
}
.cards__content__like .fa-solid {
  position: absolute;
  opacity: 0;
  font-size: 24px;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 800ms ease;
}
.cards__content__like .fa-regular {
  position: absolute;
  opacity: 1;
  font-size: 24px;
  transition: all 800ms ease;
}
.cards__content__like:hover .fa-solid {
  opacity: 1;
}
.cards__content__like:hover .fa-regular {
  opacity: 0;
}
.cards__content__title {
  display: flex;
  font-size: 18px;
  font-weight: bold;
}
.cards__content__subtitle {
  display: flex;
  font-size: 17px;
  font-weight: 300;
}

/*Restaurant section*/
.restaurants {
  display: flex;
  flex-direction: column;
  padding: 54px 18px 66px 17px;
  gap: 20px;
  background: #F6F6F6;
}
@media (min-width: 1024px) {
  .restaurants {
    padding-left: 180px;
    padding-right: 180px;
  }
}
.restaurants__cards {
  display: grid;
  gap: 18px;
}
@media (min-width: 1024px) {
  .restaurants__cards {
    gap: 50px;
  }
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1024px) {
  .restaurants__container {
    flex-direction: row;
    gap: 100px;
  }
}
.restaurants a {
  display: flex;
  color: black;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
