@use '../partials/header-footer'; //import styles for footer and header

/****** Variables ***********/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #F6F6F6;
$background-color-explore: #EAEAEA;

$color-gradient: linear-gradient(175deg, $primary-color 0%, $secondary-color 100%);

//same variables as _header-footer.scss files
$desktop-breakpoint: 1024px;
$grey: #353535;

/****** Mixin ***********/
@mixin box-shadow ($blur-radius, $color-alpha) {
    box-shadow: 0px 4px $blur-radius 0px rgba(0, 0, 0, $color-alpha);
}

/****** Keyframe ***********/
@keyframes menu-apparition {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(0.7);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 16px;
    margin: 0;
}

body {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    opacity: 1;
}

h2 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 28px;
}

header,
.footer__link--wider,
.footer__link--normal {
    display: flex;
    align-items: center;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

a {
    text-decoration: none;
}

.img-restaurant {
    width: 100%;
    max-height: 330px;
    z-index: -1;
    margin-bottom: -32px;
    object-fit: cover;
}

/***********Header***************/
.header {
    position: relative;
    margin: 14px 0 13px 0;
    
    .header__logo {
        padding: 0 19px 0 16px;
    }

    a {
        display: flex;
        position: absolute;
        left: 17px;

        .fa-arrow-left{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            width: 30px;
            height: 30px;
            color: black;
        }
    }
}

/*******Cards general **********/
.confirm__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $tertiary-color;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: -70px;
    width: 0;
    height: 69px;
    transform: translate(70px);

    transition: width 500ms ease-out, transform 500ms ease-out;

    .fa-check {
        display: flex;
        background: white;
        color: $tertiary-color;
        font-size: 14px;
        border-radius: 12px;
        padding: 4px;
        transform: rotate(0);
        opacity: 0;

        transition: all 400ms ease-out;
    }
} 

.cards {
    display: flex;
    background-color: white;
    border-radius: 15px;
    @include box-shadow(15px, 0.1);
    width: 100%;
    height: 69px;
    cursor: pointer;

    @media (min-width: $desktop-breakpoint) {
        width: 634px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin: 15px;
        height: 42px;
        width: 100%;

        transition: width 500ms ease-out;

        &__title {
            font-size: 18px;
            font-weight: 500;
            height: 21px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;          
        }

        &__subtitle {
            font-size: 15px;
            font-weight: 300;
            height: 19px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__price {
        display: flex;
        align-items: flex-end;
        font-size: 15px;
        font-weight: 700;
        color: $grey;
    }
}

/****** Section menu ***********/
//ANIMATION MENU
.apparition-name,
.apparition-1,
.apparition-2,
.apparition-3 {
    opacity: 0;
}

.apparition-name {
    animation: menu-apparition 1s ease-out 200ms forwards ;
}

.apparition-1 {
    animation: menu-apparition 1s ease-in 500ms forwards ;
}

.apparition-2 {
    animation: menu-apparition 1s ease-in 1000ms forwards ;
}

.apparition-3 {
    animation: menu-apparition 1s ease-in 1500ms forwards ;
}
/////////////
.menu-item {
    display: flex;

    &:hover {
        .confirm__btn {
            width: 70px;
            transform: translate(0px);
        }
        .fa-check {
            opacity: 1;
            transform: rotate(-1turn);
        }
        .cards__content {
            width: calc(100% - 100px);
            
            @media (min-width: $desktop-breakpoint) {
                width: 85%;
            }
        }
    }
}

.menu {
    display: grid;
    gap: 40px;
    background: $background-color;
    padding: 32px 13px 13px 13px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    @media (min-width: $desktop-breakpoint) {
        margin: 0 180px;
    }

    &__restaurants-name {
        position: relative;

        @media (min-width: $desktop-breakpoint) {
            display: flex;
            justify-content: center;

        }
        
        .fa-heart {
            font-size: 22px;
            position: absolute;
            right: 7%;
            top: 15%;
            transition: all 400ms ease;

            @media (min-width: $desktop-breakpoint) {
                right: 31%;
                top: 21%;
            }

            &:hover {
                font-weight: bold;
                background: $color-gradient;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
    }

    &__starter,
    &__main-course,
    &__dessert {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media (min-width: $desktop-breakpoint) {
        justify-self: center;
        width: 634px;
        }
    }
    .border-title {
        border-top: 3px solid $tertiary-color;
        margin-top: 9px;
        width: 40px;
    }
    
    .command-btn {
        @include box-shadow(10px, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        margin-bottom: 40px;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        border: none;
        background: $color-gradient;
        color: rgb(255, 255, 255);
        font-weight: 500;
        transition: all 300ms ease-out;

        &:hover {
            @include box-shadow(10px, 0.35);
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, $primary-color 0%, $secondary-color 100%);
        }
    }
}